.first-section {
  position: relative;
  min-height: 70vh;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  background: #ffffff;
  .first-section-title{
    align-items: flex-start;
    padding: 5rem;
    margin: auto 0px;
    .orange-btn{
      width: 50%;
    }
  }
  h2 {
    font-weight: lighter;
    font-size: calc(2rem + 2vw);
    color: #11142d;
  }
  .vectors {
    img {
      position: absolute;
    }

    .img1 {
      right: 400px;
      top: 200px;
    }
    .img2 {
      max-width: 60px;
      max-height: 60px;
      left: 600px;
      bottom: 40px;
      transform: rotate(-290deg);
    }
    .img3 {
      width: 40px;
      height: 40px;
      right: 40px;
      top: 40px;
      transform: rotate(-290deg);
    }
    .circle {
      position: absolute;
      border-radius: 50%;
      background: #f86338;
    }
    .circle-1 {
      width: 39px;
      height: 39px;
      left: 600px;
      top: 50px;
    }
    .circle-2 {
      width: 20px;
      height: 20px;
      right: 80px;
      bottom: 40px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .vectors {
    display: none;
  }
}
