.insights {
  width: 85%;
  margin: 4rem auto;
  header {
    align-items: flex-end;
  }
  h5 {
    color: #f86338;
  }
  .insight-cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 3rem;
    column-gap: 3rem;
    .insight-card {
      .insight-image {
        height: 25rem;
        background-color: #e2e2ea;
      }
      p {
        margin: 2rem 0rem;
      }
    }
  }
}
