.insights {
  min-height: 60vh;
  width: 80%;
  margin: 4rem auto;
  header {
    align-items: flex-end;
  }
  h5 {
    color: #f86338;
  }
  .insight-cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    .insight-card {
      height: 100%;
      .insight-image {
        max-height: 25rem;
        background-color: #e2e2ea;
      }
    }
  }
}
