.insights {
  min-height: 60vh;
  margin: 4rem;
  header {
    align-items: flex-end;
  }
  h5 {
    color: #f86338;
  }
  .insight-cards {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    .insight-card {
      .insight-image {
        min-height: 25rem;
        background-color: #e2e2ea;
      }
    }
  }
}
