.navigation {
  nav {
    min-height: 10vh;
    background-color: #ffffff;
    padding: 1.5rem 5%;
    .toggle-nav {
      flex: 1;
      .show-navbar {
        display: none;
      }
    }
    h1 {
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      font-size: 39px;
      line-height: 120%;
      color: #f86338;
      flex: 1;
    }
    ul {
      list-style: none;
      flex: 1;
      span {
        margin-left: 1rem;
      }
    }
  }
  .links {
    background: #f4f7f8;
    flex-wrap: wrap;
    padding: 20px 94px;
    .hide-navbar {
      display: none;
    }
    ul {
      flex: 1.5;
      list-style: none;
    }
    .search-input {
      flex: 1.3;
      background-color: #ffffff;
      color: #9a9ab0;
      padding: 10px 15px;
      border-radius: 4px;

      width: 100%;
      input {
        padding: 10px;
        outline: none;
        width: 85%;
        border: none;
      }
    }
    .icons {
      flex: 0.5;
    }
  }
}
@media screen and (max-width: 1000px) {
  .navigation {
    nav {
      gap: 1rem;
      display: block;
      .toggle-nav {
        margin-bottom: 2rem;
        .show-navbar {
          display: block;
        }
      }
    }
    .links {
      padding: 2rem;
      width: 50%;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: baseline;
      gap: 3rem;
      .hide-navbar {
        display: block;
      }
      .link-list,
      .icons {
        flex-direction: column;
        align-items: baseline;
      }
      display: none;
    }
    .active-links {
      display: flex;
    }
  }
}
