.premium-collection {
  margin: 3rem 1rem;
  h2 {
    text-align: center;
  }
  .filters {
    margin: 3rem;
    list-style: none;
    .active {
      color: #f86338;
    }
  }
  .orange-btn {
    display: block;
    margin: 5rem auto;
  }
}
.collection {
  margin: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  place-items: center;
}
.collection-card {
  padding: 2rem;
  background-color: white;

  .image {
    background-color: #f86338;
    min-height: 15rem;
    width: 100%;
    flex: 1;
  }
  h3 {
    font-weight: 700;
    font-size: 3rem;
  }
  button {
    border: none;
    padding: 10px;
    background: #f86338;
    border-radius: 28px;
  }
}
