.story {
  min-height: 80vh;
  padding: 5rem;

  .image {
    background-color: #e2e2ea;
    border-radius: 5px;
    width: 30rem;
    height: 35rem;
  }
  .story-content {
    margin-left: 2rem;
    flex: 1;
    h2 {
      font-size: 48px;
    }
    p {
      color: #9a9ab0;
      width: 80%;
      margin: 2rem 0rem;
    }
    h5 {
      color: #f86338;
    }
  }
}
