//GLOBAL STYLING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f7f8;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden !important;
}
button {
  cursor: pointer;
  transition: all 0.3s ease;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  color: #9a9ab0;
}
.orange-text {
  color: #f86338;
}
// flex styling
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.orange-btn {
  color: white;
  padding: 18px 24px;
  font-size: 16px;
  border: 2px solid #f86338;
  background: #f86338;
  border-radius: 8px;
}
.orange-outline-btn {
  color: #f86338;
  border: 2px solid #f86338;
  padding: 18px 24px;
  font-size: 16px;
  background: white;
  border-radius: 8px;
}

/* IMPORTING SCSS PARTIALS OF DIFFERENT COMPONENTS */
@import "./nav";
@import "./firstSection";
@import "./premiumCollection";
@import "./topItems";
@import "./story";
@import "./achievement";
@import "./insights";
@import "./newsletter";
